.App {
  text-align: center;
}

.App-logo {
 
  height: 23px;
}

.App-header {
 background-color: #fff;
 height: 10px;
 padding: 20px;
 color: black;
}

.App-intro {
  font-size: large;
}

.iconHover {
    font-size: 14px !important;    
    color: rgb(255, 255, 255) !important;
    background: #4239cd !important;
    border-radius: 10px !important;
    margin-right: 3px;
  }

  .iconHover:hover {
    background: rgb(0,0, 0) !important;
   
  }

  .cardTitle{
    font-weight: 700!important;
    font-size:15px !important;
    color:#343e59;
    margin-bottom: 15px !important;
  }
  .cardSubTitle{
    font-size:10px  !important;
    color:#343e59;
    display: flex;
  }

  .MuiCardContent-root {
    padding: 12px;
  }
  .MuiContainer-root {
    padding-left: 8% !important;
    padding-right: 8% !important;
  }
  .MuiToolbar-gutters {
    padding-left: 8% !important;
    padding-right: 8% !important;

  }
  .MuiLinearProgress-colorSecondary {
    background-color: #d6d6d6;
  }
  .MuiLinearProgress-barColorSecondary {
    background-color: #f18363;
  }



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
